@media (min-width: 32.5rem) {

    main {
        margin-top: 1rem;
        max-width: calc(100% - 2rem);
        display: grid;
        grid-template: repeat(5, 1fr) / repeat(3, 1fr);
        gap: 1rem;
    }

    main > section {
        grid-column: span 3;
    }

    section.hero {
        grid-row: 1;
    }

    section.news {
        grid-row: 2;
    }

    section.spotlights {
        grid-row: 3;
    }

    section.spotlights > div {
        flex-direction: row;
        gap: 1rem;
    }

    .spotlights > div section + section {
        border-top: 1px solid var(--a-1);
    }

    section.join {
        display: flex;
        grid-row: 4;
    }

    section.event {
        grid-row: 5;
        grid-column: 1 / 3;
    }

    section.weather {
        grid-row: 5;
        grid-column: 3;
    }

    footer section:first-child {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer section:first-child div.part-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer section.devinfo {
        flex-direction: row;
        justify-content: space-around;
    }
}
