
ul {
    list-style-type: none;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

nav a {
    color: rgb(6, 0, 0);
    text-decoration: none;
    background-color: rgb(165, 237, 241);
    padding: .8rem;
}
main {
    display: grid;
    background-color: rgb(241, 146, 111);
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    max-height: 250px;
    color: black;
    font-size: 16px;
}



header img {
    grid-row: 1/4;
    grid-column: 1/3;
}   


h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    grid-row: 2/4;
    grid-column: 2/3;
    
} 

h2 {
    display: grid;
    font-family: 'Quicksand', sans-serif;
    grid-column: -2/3;
    grid-row: 2/4;    

} 
h3 {
    display: grid;
    font-family: 'Quicksand', sans-serif;
    grid-column: 1/3;
    grid-row: 1/4;    

} 


footer {
    background-color: gray;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}


.learn {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/4;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

a {
    grid-row: 2/4;
grid-column: 2/3;
}

h3 {
    grid-column: 2/3;
    grid-row: 1/4;
}
.project {
    grid-column: 3/3;
    grid-row: 2/4;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.info {
    grid-column: 2/3;
    grid-row: 3/4;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.hero img {
   width: 100%;
   height: 300px;
   object-fit: cover;
   grid-column: 1/3;
   grid-row: 1/4;
}

